<!DOCTYPE html>
<html>
<head>
  <title>Vue Debug Test</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div id="app">Loading Vue...</div>
  <script src="/assets/app_debug.js" type="module"></script>
</body>
</html>