<!DOCTYPE html>
<html>
<head>
  <title>菜鸟驿站包裹管理系统</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div id="app">Loading...</div>
  <script src="/assets/app_simple_login.js" type="module"></script>
</body>
</html>